<h1>Listing productfamilies</h1>
<br/><%= link_to "Backend home", :controller=>"backend", :action => "get_me_in" %><br/>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>

<% for productfamily in @productfamilies %>
  <tr>
    <td><%=h productfamily.id %></td>
    <td><%=h productfamily.name %></td>
    <td><%= link_to 'Show', productfamily %></td>
    <td><%= link_to 'Edit', edit_productfamily_path(productfamily) %></td>
    <td><%= link_to 'Destroy', productfamily, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New productfamily', new_productfamily_path %>
